body{
	margin:0;
	padding:0
}

#wrap {
	display: flex;
	flex-direction: column;
}

.card{
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
	border-radius: .35rem;
}
.card-header{
	padding: 0 1.25rem;	
}
.searchEl{
	float:right;
}

.card-body{
	flex : 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.shadow{
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.mb-4, .my-4{
	margin-bottom: 1.5rem !important;
}

.table-responsive{
	display: block;
	width:100%;
	overflow-x: auto;
}

table#dataTable{
	clear:both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
	border-collapse: seperate !important;
	border-spacing: 0;
}

table#dataTable tr{
	text-align: center;
}
.table-bordered{
	border: 1px solid #e3e6f0;
}

/* #paging .leftContent{
	float:left;
}
#paging .rightContent{
	float:right;
	letter-spacing: 5px;
}
#paging .rightContent a{
	text-decoration: none;
}
#paging .rightContent a.action{
	color: red;
	font-weight: bold;
} */